@page
@model leaderboard_razor_app_pet_project.Pages.AdminPage

@{
    ViewData["Title"] = "Admin Page";
}

<tr>
    <td>
        <h3 class="display-4">Create Player</h3><br/>
        <form method="post" asp-page-handler="Create">
            <p>
                <label>Name</label><br/>
                <input name="nickname" type="text"/>
            </p>
            <p>
                <label>Rating</label><br/>
                <input name="rating" type="number"/>
            </p>
            <input type="submit" value="Create"/>
        </form>
    </td>
    <td>
        <h3 class="display-4">Delete Player</h3><br/>
        <h2>Removes all player with nickname below:</h2>
        <form method="post" asp-page-handler="Delete">
            <p>
                <label>Name</label><br/>
                <input name="nickname" type="text"/>
            </p>
            <input type="submit" value="Delete"/>
        </form>
    </td>
</tr>

