@page
@model leaderboard_razor_app_pet_project.Pages.AdminPage

@{
    ViewData["Title"] = "Admin Page";
}

<h3 class="display-4">Create & Delete Players</h3><br/>
<div class="row">
    <div class="col-auto" style="margin-right: 150px">
        <form method="post" asp-page-handler="Create">
            <p>
                <label>Name</label><br/>
                <input name="nickname" type="text"/>
            </p>
            <p>
                <label>Rating</label><br/>
                <input name="rating" type="number"/>
            </p>
            <input type="submit" value="Create"/>
        </form>
    </div>
    <div class="col-auto">
        <h5>Removes all player with nickname below:</h5>
        <form method="post" asp-page-handler="Delete">
            <p>
                <label>Name</label><br/>
                <input name="nickname" type="text"/>
            </p>
            <input type="submit" value="Delete"/>
        </form>
    </div>
</div>

