@page "{playerId}"
@using RatingApp.Domain.Entities
@model leaderboard_razor_app_pet_project.Pages.PlayerModel

@{
    ViewData["Title"] = "Player Info";
}

@{ PlayerEntity player = Model.Player; }
<div class="text-center">
    <h1 class="display-4">@player.Nickname</h1>
    <tr>
        <h3>R: @player.Rating</h3>
    </tr>

    @if (player.League != null)
    {
        <tr>
            <h3>League: <a href="/League/@player.League.Id">@player.League.Name</a></h3>
        </tr>
    }
    else
    {
        <tr>
            <h3>---</h3>
        </tr>
    }
</div>